server.port=9000
spring.datasource.driver-class-name=com.mysql.jdbc.Driver
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.MySQL5Dialect

#Needed for reconnecting to the database.
spring.datasource.testOnBorrow=true
spring.datasource.validationQuery=SELECT 1