<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>api.harrywinser.com</title>
</head>
<body>

<h1>Api server</h1>

<p>
    Welcome to the api server. This powers <a href="http://harrywinser.com">harrywinser.com</a> and <a href="http://tech.harrywinser.com">tech.harrywinser.com.</a>
    If you'd like to use it, go ahead. Though, there ain't much data on here at the moment.
</p>

<p>
    Check out the docs on my <a href="https://github.com/Hazz223/api.harrywinser.com">Github page</a>.
</p>

<p>Happy coding!</p>

<p>Harry</p>

</body>
</html>